<div class="contenedorPadre">
    <form class="formulario">
    
    <h1>Cambio Contraseña </h1>
     <div class="contenedor">
     
         <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
            <input  type="text" placeholder="Inserte contraseña actual">
         </div>

         
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input  type="password" placeholder="Inserte su contraseña nueva">
         
         </div>

         <div class="input-contenedor">
            <i class="fas fa-key icon"></i>
             <input  type="password" placeholder="Repita su contraseña">
        </div>

         <button  style="text-align: center;"  class="button">Cambiar contraseña</button>
     </div>
    </form>
</div>
