

<section class="contenedorConsultas">

  <ul class="breadcrumbs">
    <li class="breadcrumbs__item">
      <a [routerLink]="'/consultas'" class="breadcrumbs__link">Consultas</a>
    </li>

    <li class="breadcrumbs__item">
      <a [routerLink]="'/consultasPublicas'" class="breadcrumbs__link">Consultas Publicas</a>
    </li>

    <li class="breadcrumbs__item">
      <a [routerLink]="'/pCientificas'"class="breadcrumbs__link">Historial P. Cientificas</a>
    </li>

    <li class="breadcrumbs__item">
      <a [routerLink]="'/historialpCientificas'"class="breadcrumbs__link">P. Cientificas Publicadas</a>
    </li>
  </ul>

  <div class="contentdivsborder">
    <div class="bordercontent">
      <span>Lineamientos y Requisitos <br> Para una buena P.Cientifica</span>

    </div>

    <div  class="bordercontent">
      <span>Cronograma recepcion de <br>  produccion cientifica AAA</span>

    </div>
  </div>
<!-- 
<div class="calendar">
   <div class="date">
       <h3>January</h3>
       <div class="days">
           <div class="day">S</div>
           <div class="day">M</div>
           <div class="day">T</div>
           <div class="day">W</div>
           <div class="day">T</div>
           <div class="day">F</div>
           <div class="day">S</div>
           <div class="number"></div>
           <div class="number"></div>
           <div class="number">1</div>
           <div class="number">2</div>
           <div class="number  active">3</div>
           <div class="number">4</div>
           <div class="number">5</div>
           <div class="number">6</div>
           <div class="number">7</div>
           <div class="number">8</div>
           <div class="number">9</div>
           <div class="number">10</div>
           <div class="number">11</div>
           <div class="number">12</div>
           <div class="number">13</div>
           <div class="number">14</div>
           <div class="number">15</div>
           <div class="number">16</div>
           <div class="number">17</div>
           <div class="number">18</div>
           <div class="number">19</div>
           <div class="number">20</div>
           <div class="number">21</div>
           <div class="number">22</div>
           <div class="number">23</div>
           <div class="number">24</div>
           <div class="number">25</div>
           <div class="number">26</div>
           <div class="number">27</div>
           <div class="number">28</div>
           <div class="number">29</div>
           <div class="number">30</div>
           <div class="number">31</div>
       </div>
   </div>
   -->
<!-- </div>
 -->

<div class="contenedor">
   <section class="about container">

     <div class="containerEv">
       <div class="about_Text">
         <h2 class="subtitle">Titulo 1</h2>
       <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus odit beatae molestias inventore assumenda ipsum eveniet esse labore, eos amet mollitia deserunt sed quos consectetur nostrum alias cupiditate atque deleniti quae distinctio dicta! Magnam soluta a quibusdam deleniti aliquid. Accusamus saepe tempore quos nesciunt fugit possimus, itaque aspernatur sequi illo est sed illum unde nam quae minus omnis modi iste velit numquam neque dignissimos consequatur. Assumenda earum porro quisquam excepturi ex quos adipisci expedita voluptates nulla illo. Laborum, nesciunt placeat.</p>
     </div>



   </div>
      
   <div class="containerEv">
     <div class="about_Text">
       <h2 class="subtitle">Titulo 1</h2>
     <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus odit beatae molestias inventore assumenda ipsum eveniet esse labore, eos amet mollitia deserunt sed quos consectetur nostrum alias cupiditate atque deleniti quae distinctio dicta! Magnam soluta a quibusdam deleniti aliquid. Accusamus saepe tempore quos nesciunt fugit possimus, itaque aspernatur sequi illo est sed illum unde nam quae minus omnis modi iste velit numquam neque dignissimos consequatur. Assumenda earum porro quisquam excepturi ex quos adipisci expedita voluptates nulla illo. Laborum, nesciunt placeat.</p>

     </div>
 </div>
    
 <div class="containerEv">
   <div class="about_Text">
     <h2 class="subtitle">Titulo 1</h2>
   <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus odit beatae molestias inventore assumenda ipsum eveniet esse labore, eos amet mollitia deserunt sed quos consectetur nostrum alias cupiditate atque deleniti quae distinctio dicta! Magnam soluta a quibusdam deleniti aliquid. Accusamus saepe tempore quos nesciunt fugit possimus, itaque aspernatur sequi illo est sed illum unde nam quae minus omnis modi iste velit numquam neque dignissimos consequatur. Assumenda earum porro quisquam excepturi ex quos adipisci expedita voluptates nulla illo. Laborum, nesciunt placeat.</p>
 </div>

</div>
  

    </section>
</div>
     
</section>