<div class="contenedorPrincipal">
    <h1>Escoja una opción</h1>

    <div class="contenedorSection">
        <div class="about container">

            <div [routerLink]="'/ponencia'" class="containerEv">
                <div class="about_Text">
                    <p style="text-align: center;">Ponencia <i class="fas fa-chalkboard-teacher"></i></p>
                </div>
            </div>    

            <div [routerLink]="'/articulo'"  class="containerEv">
                <div  class="about_Text">
                    <p style="text-align: center;">Articulo <i class="far fa-newspaper"></i></p>
                </div>
            </div>    

            <div [routerLink]="'/libro'" class="containerEv">
                <div class="about_Text">
                    <p style="text-align: center;">Libro <i class="fas fa-book"></i></p>
                </div>
            </div>    

            <div [routerLink]="'/capitulolibro'"  class="containerEv">
                <div  class="about_Text">
                    <p style="text-align: center;">Capitulo de Libro <i class="fas fa-sticky-note"></i></p>
                </div>
            </div>    

               
        </div>
    </div>    
</div>    