
    <section class="contenedor-secundario container">
      <br><br><br>
      <h2 class="subtitle">Acerca De</h2>
      <p>La Facultad de Ingeniería Industrial de la Universidad de Guayaquil asume su compromiso con la sociedad y la universidad ecuatoriana, desarrollando programas y proyectos de investigación en búsqueda de generar no sólo una cantidad creciente de publicaciones y/o patentes, sino además de promover una cultura científica, donde los estudiantes formen parte de los proyectos propuestos por la institución y cuenten con ámbitos donde formular y desarrollar ideas propias.
        <br>
        Durante el 2021, la Facultad de Ingeniería Industrial buscará conformar redes de conocimiento con otros centros de investigación tanto nacionales como del exterior y consolidar proyectos factibles y pertinentes para la sociedad.</p>
    </section>
    <section class="about container">
      <figure class="about_img about_img--left">
         <h2 class="subtitle">Mision</h2>
        <img src="../../../assets/img/Mision.jpeg" class="aboutpicture"/>
      </figure>
      <div class="about_Text">
        <p>El Instituto de Investigaciones de la Facultad de Ingeniería Industrial es un centro de investigación multi e interdisciplinario cuya misión es contribuir a la creación y difusión del conocimiento científico y académico en el área de Ingeniería y Ciencias Aplicadas realizando vinculación, actualización e innovación orientada, para satisfacer eficazmente las expectativas de los sectores productivos, educativos y sociales, mediante el desarrollo de tecnología, aplicación y generación del conocimiento.</p>
      </div>

      <figure class="about_img about_img--left">
         <h2 class="subtitle">Vision</h2>
         <img src="../../../assets/img/Vision.jpeg" class="aboutpicture"/>
       </figure>
       <div class="about_Text">
         <p>El Instituto de Investigaciones de la Facultad de Ingeniería Industrial pretende convertirse en un centro de investigación educativa consolidada, integrada por docentes investigadores comprometidos, innovadores y críticos que contribuyan a los procesos productivos, de desarrollo tecnológico y educativos a nivel nacional, que permita la formación de jóvenes investigadores preparados bajo criterios de pertinencia académica, compromiso ético y relevancia social.</p>
       </div>
       
       <figure class="about_img about_img--left">
         <h2 class="subtitle">Objetivo</h2>
         <img src="../../../assets/img/Objetivos.jpeg" class="aboutpicture"/>
       </figure>
       <div class="about_Text">
         <ul  style="list-style-type: circle">
          <li>Contribuir a la formación científica de los docentes y estudiantes de la unidad academia.</li>
         <li>Promover la transferencia de los desarrollos tecnológicos a otros ámbitos académicos, productivos y sociales.</li> 
         <li>Contribuir a la difusión de los resultados de las investigaciones a la comunidad mediante acciones de difusión, extensión, asesoramiento y servicios.</li> 
        </ul>
       </div>


   </section>