<div class="contenedorSpace">

      <section class="about container">
        <div class="about_Text">
            <h2 class="subtitle">Titulo De Bienvenida</h2>
          <p style="text-align: justify;">
            Es así como Guayaquil, la mayor ciudad del Ecuador, tiene hoy la primera Universidad del país con dieciocho Facultades que ofertan 48 carreras de pregrado, y genera una serie de programas de Cuarto Nivel, además cuenta con: laboratorios, talleres, consultorios, bibliotecas físicas y virtuales, farmacia, comedores estudiantiles; también, grupos artísticos y equipos deportivos.

Actualmente la Universidad está llevando a cabo Reformas Académicas y Administrativas, e impulsando el estudio de nuevas carreras, nuestra Universidad es obra del pueblo y corresponde a sus intereses, dándole enseñanza, información y servicios.
          </p>
        </div>
    <div class="about_img about_img--left">
      <img src="../../../assets/img/imgPrincipalPage.jpg" class="aboutpicture"/>
    </div>

 </section>

</div>
