<div class="contenedorPadre">
    <form class="formulario">
    
    <h1>Crear Maestro</h1>
     <div class="contenedor">
     
        <div class="input-contenedor">
            <i class="fas fa-envelope icon"></i>
            <input  type="text" [ngModelOptions]="{standalone: true}" placeholder="Correo">
            </div>

         <div class="input-contenedor">
            <i class="fas fa-user icon"></i>
         <input  type="text" [ngModelOptions]="{standalone: true}" placeholder="Nombre Completo">
         </div>

         
         <div class="input-contenedor">
        <i class="fas fa-key icon"></i>
         <input  type="password" [ngModelOptions]="{standalone: true}"placeholder="Contraseña">
         </div>

         <div class="input-contenedor">
            <i class="fas fa-id-card icon"></i>
            <input  type="text" [ngModelOptions]="{standalone: true}" placeholder="DNI">
            </div>

            <div class="input-contenedor">
                <i class="fas fa-list icon"></i>
                <input  type="text" [ngModelOptions]="{standalone: true}" placeholder="Modalidad Contrato">
            </div>
   
            
            <div class="input-contenedor">
                <i class="fas fa-sort-numeric-up-alt icon"></i>
            <input type="text"  [ngModelOptions]="{standalone: true}"placeholder="Cedula">
            </div>

            <div class="input-contenedor">
                <i class="fas fa-school icon"></i>
                 <input type="text" [ngModelOptions]="{standalone: true}"placeholder="Facultad">
                 </div>

         <button style="text-align: center; margin-bottom: 20px;"  class="button">Crear Maestro</button>
     </div>
    </form>
</div>