<h1>Ingrese Datos Del Contacto</h1>

<div class="contenedorContacto">
  <div class="contenido">
    <form class="formulario">
      <div class="contenedor">
        <span>Correo: </span>
        <div class="input-contenedor">
          <i class="fas fa-envelope icon"></i>
          <input type="text" placeholder="Ingrese su Correo Electronico" />
        </div>

        <span>Celular: </span>
        <div class="input-contenedor">
          <i class="fas fa-mobile-alt icon"></i>
          <input type="Text" placeholder="Ingrese su Celular" />
        </div>

        <span>Mensaje: </span>
        <div class="input-contenedor">
          <i class="fas fa-pencil-alt icon"></i>      
            <input type="Text" placeholder="Ingrese su Mensaje" />
        </div>

        <button class="button">Enviar</button>
      </div>
    </form>
  </div>

  <div class="contenido contenidoMap">
    <div>
      <img
        class="imgMap"
        src="../../../assets/img/7e745ce0-8b05-48d6-a480-b97e580c97ce.jpeg"
        alt=""
      />
    </div>

    <div>
      <p style="text-align: left;">
        Cdla. Universitaria Universidad de Guayaquil <br />
        Av. Delta S/N y Av. Kennedy <br />
        Teléfono: (04) 228-4505 <br />
        <a target="_blank" href="https://instagram.com/universidad_guayaquil?igshid=YmMyMTA2M2Y="> Instagram: universidad_guayaquil</a>
        <br />
      </p>
    </div>
  </div>
</div>
