*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.contenedor {
      padding: 10px;
    text-align: left;
    margin: 190px 123px 0;
  }

  .containerEv{

    padding: 40px 30px;
    border-radius: 18px;
    background: linear-gradient(145deg, #f0f0f0, #ffffff);
    box-shadow: 26px 26px 52px #cacaca, -26px -26px 52px #ffffff;

  }
  .subtitle{
    margin-bottom: 15px;

  }
  
  .about {
    min-height: 100px;
    display: grid;
    row-gap: 80px;
    justify-items: center;
    align-items: center;
    padding-top: 50px;
    margin-bottom: 164px;
  }