<div class="contenedor">
    <section class="about container">
        <div class="about_Text">
            <h2 class="subtitle">Titulo 1</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus odit beatae molestias inventore assumenda ipsum eveniet esse labore, eos amet mollitia deserunt sed quos consectetur nostrum alias cupiditate atque deleniti quae distinctio dicta! Magnam soluta a quibusdam deleniti aliquid. Accusamus saepe tempore quos nesciunt fugit possimus, itaque aspernatur sequi illo est sed illum unde nam quae minus omnis modi iste velit numquam neque dignissimos consequatur. Assumenda earum porro quisquam excepturi ex quos adipisci expedita voluptates nulla illo. Laborum, nesciunt placeat.</p>
        </div>
  
        <div class="about_Text">
            <h2 class="subtitle">Titulo 2</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus odit beatae molestias inventore assumenda ipsum eveniet esse labore, eos amet mollitia deserunt sed quos consectetur nostrum alias cupiditate atque deleniti quae distinctio dicta! Magnam soluta a quibusdam deleniti aliquid. Accusamus saepe tempore quos nesciunt fugit possimus, itaque aspernatur sequi illo est sed illum unde nam quae minus omnis modi iste velit numquam neque dignissimos consequatur. Assumenda earum porro quisquam excepturi ex quos adipisci expedita voluptates nulla illo. Laborum, nesciunt placeat.</p>
        </div>
         
        <div class="about_Text">
            <h2 class="subtitle">Titulo 3</h2>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus odit beatae molestias inventore assumenda ipsum eveniet esse labore, eos amet mollitia deserunt sed quos consectetur nostrum alias cupiditate atque deleniti quae distinctio dicta! Magnam soluta a quibusdam deleniti aliquid. Accusamus saepe tempore quos nesciunt fugit possimus, itaque aspernatur sequi illo est sed illum unde nam quae minus omnis modi iste velit numquam neque dignissimos consequatur. Assumenda earum porro quisquam excepturi ex quos adipisci expedita voluptates nulla illo. Laborum, nesciunt placeat.</p>
        </div>
     </section>
</div>
    