*{
    font-family:'Montserrat', sans-serif !important;
}

.footer{
    width: 100%;
    display: table;
    position: relative;
    margin-top: auto;
    bottom: 0;
    background: #253f60f5;
    font-family: "Open Sans";
    color: #fff;
}

/* .footer{
    background: #253f60f5;
  display: table;
  width:100%;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  color: #fff;
  text-align: center;
} */

.footer-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;

}
.socials a:hover i{
    color: aqua;
}

.footer-bottom{
    background: #253f60;
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}