
   <body>
    <div class="pageContent">
       <div class="contenedorSearch"> 
          <div class="contenedorInput">
                <div class="search">
                   <input type="text" class="searchTerm" placeholder="Buscar">
                   <button type="submit" class="searchButton">
                      <i class="fa-solid fa-magnifying-glass icon"></i>
                  </button>
                </div>
          </div>
      </div>
   
      <div class="contenedorSecundario">
         <div class="user-box">
            <h1 class="title">Produccion mas reciente </h1>
            <p class="box-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi animi modi sapiente est, 
              iure omnis totam similique neque consectetur iusto.</p>
         </div>

         <div class="user-box">
            <h1 class="title">Produccion mas reciente  </h1>
            <p class="box-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi animi modi sapiente est, 
              iure omnis totam similique neque consectetur iusto.</p>
         </div>

         <div class="user-box">
            <h1 class="title">Produccion mas reciente  </h1>
            <p class="box-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi animi modi sapiente est, 
              iure omnis totam similique neque consectetur iusto.</p>
         </div>

         <div class="user-box">
            <h1 class="title">Produccion mas reciente  </h1>
            <p class="box-description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sequi animi modi sapiente est, 
              iure omnis totam similique neque consectetur iusto.</p>
         </div>
      </div>

       
   </div>
 </body>

